@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Body Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    color: #fff;
    background-color: #010001;
}

/* Container Fluid Styles */
.container-fuild {
    height: 100vh;
    overflow-x: hidden;
    perspective: 20px;
}

/* Banner Section Styles */
.banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
}

/* Background Styles for Banner */
.bg {
    background-image: url(bg.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: translateZ(-10px) scale(1.);
}

.bg::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(to top, #010001, transparent);
    bottom: 0;
}

/* Content Styles inside Banner */
.content {
    font-size: xx-large;
    text-align: center;
    transform: translateZ(10px);
}

/* Main Container Styles */
.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 100px;
}

/* Header Section Styles */
header {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1200px;
    max-width: 100%;
    padding: 40px 0;
}

/* Logo Styles */
header .logo img {
    width: 240px;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

/* Navigation List Item Styles */
nav ul li {
    padding: 10px;
    cursor: pointer;
}

/* Description Section Styles */
.des {
    width: 70%;
    text-align: center;
    margin: 100px auto;
    margin-top: 200px;
    transition: 0.5s;
    transform: translateY(30px);
    opacity: 0;
}

.des.active {
    opacity: 1;
    transform: translateY(0px);
}

/* Footer Section Styles */
.footer {
    display: flex;
    justify-content: center;
    height: 80px;
}

/* Anchor Tag Styles */
a {
    text-decoration: none;
}

/* Anchor Tag States: Visited, Active, and Link Styles */
a:visited,
a:active,
a:link {
    color: white;
}

a:link {
    color: #007BFF;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Scrollbar Track Styles */
::-webkit-scrollbar-track {
    background: #1f1d1d;
}

/* Scrollbar Thumb Styles */
::-webkit-scrollbar-thumb {
    background-color: #141313;
    border-radius: 10px;
}

/* Scrollbar Thumb Hover State */
::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}